* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}


/* Layout */
.row {
  display: flex;
}

.row__space__between {
  justify-content: space-between;
}

.contenedor {
  max-width: 1000px;
  margin: 0 auto;
}


/* Cabecera */
.cabecera {
  background-color: #3fbfc2;
  color: #fff;
  height: 50px;
  text-align: center;
  padding-left: 4em;
  padding-right: 4em;
}

.logo {
  line-height: 50px;
}

.menu__item {
  display: inline-block;
  margin-top: .5em;
  margin-right: .5em;
  margin-left: .5em;
  border: 1px solid;
  border-radius: 2px;
  padding: .3em .9em .3em .9em;
  cursor: pointer;
}

.menu__item:hover {
  transform: scale(1.1);
}

/* Principal */

.principal {
  margin: 3em 0;
}

.principal__titulo {
  display: inline-block;
}

.principal__subtitulo {
  color: #969393;
}

.principal__item {
  width: 20%;
  padding: 10px;
}

/* Curso de animaciones SVG con CSS */

/*.principal__item:hover .principal__item__circle--css {
  fill: #3B57DD;
}

.principal__item:hover .principal__item__circle--dj {
  fill: #10575A;
}

.principal__item:hover .principal__item__circle--js {
  fill: #FFE85E;
}

.principal__item__circle--js
.principal__item__circle--dj
.principal__item__circle--css {
  transition: 3s ease-out;
}*/

/*.principal__item__circle--css {
  stroke: #07A7FE;
  stroke-width: 3;
}*/

/*.principal__item__circle-g--css:hover .principal__item__polygon--css {
  transform: rotate(360deg) scale(1.3);
  transition: .5s ease-out;
}

.principal__item__polygon--css {
  transform-origin: 50% 50%;
}

.principal__item__circle-g--js:hover .principal__item__polygon--js {
  transform: rotate(360deg);
  transition: 5s ease-out;
}

.principal__item__polygon--js {
  transform-origin: 50% 50%;
}

.principal__item__circle-g--dj:hover .principal__item__polygon--dj {
  transform: scale(1.1);
  transition: .3s ease-out;
}

.principal__item__polygon--dj {
  transform-origin: 50% 50%;
}*/

/*@keyframes grow {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
}

@keyframes turn {
  0% {
    transform: rotate(0) scale(0);
    opacity: 0;
  }
  40% {
    transform: rotate(375deg) scale(1.1);
  }
  80% {
    transform: rotate(355deg) scale(0.9);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.principal__item__circle-g--css {
  animation: grow 1s ease-out backwards;
  transform-origin: 50% 50%;
}

.principal__item__circle-g--css {
  animation-delay: .3s;
}

.principal__item__polygon--css {
  transform-origin: 50% 50%;
  animation: turn 1.1s .2s ease-out backwards;
}*/

.logo {
  width: 50%;
  padding: 10px;
}

.logo-linea1 {
  stroke: #5393FB;
  stroke-width: 3;
  stroke-dasharray: 435;
  stroke-dashoffset: 435;

  animation: offset 5s linear forwards, fill-blue .9s 5s forwards;
}

.logo-linea2 {
  stroke: #7DD179;
  stroke-width: 3;
  stroke-dasharray: 435;
  stroke-dashoffset: 435;

  animation: offset 5s linear forwards, fill-green .9s 5s forwards;
}

.logo-linea3 {
  stroke: #7DD179;
  stroke-width: 3;
  stroke-dasharray: 65;
  stroke-dashoffset: 65;

  animation: offset 5s linear forwards, fill-green .9s 5s forwards;
}

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-blue {
  100% {
    fill: #5393FB;
  }
}

@keyframes fill-green {
  100% {
    fill: #7DD179;
  }
}

































